.container {
  text-align: center;
}

.glyphicon-star {
  font-size: 40px;
  color: rgb(140, 140, 10);
}

.glyphicon-star-empty {
  font-size: 40px;
  color: rgb(140, 140, 10);
}

.correct {
	color: green;
	font-weight: bold;
}

.incorrect {
	color: red;
	font-weight: bold;
}

#stars {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

#document-container {
  margin-top: 10px;
}

#document {
  font-size: 19px;
}
