.container {
    text-align: center;
}

.glyphicon-star {
    font-size: 40px;
    color: rgb(140, 140, 10);
}

.glyphicon-star-empty {
    font-size: 40px;
    color: rgb(140, 140, 10);
}

#stars {
    margin-top: 10px;
    display: inline-block;
}

#document-container {
    margin-top: 10px;
}

#document {
    font-size: 19px;
}
